
body {
	/* background-color: #333333 !important; */
	/* padding-bottom: 75px; */
}

h1, h2, h3, h4 {
	font-family: 'Andika New Basic', sans-serif !important;
}

b {
	font-family: 'Andika New Basic', sans-serif !important;
}

p, li, tr {
	/* font-family: 'Roboto', sans-serif !important; */
	font-family: 'Andika New Basic', sans-serif !important;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 50%;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(168, 168, 168); 
}
  
/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
